body {
  background-image: linear-gradient( rgba(12, 0, 235, 0.3), rgba(12, 0, 235, 0.3)), url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-attachment: fixed;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

input[type="radio"] {
  transform: scale(1.5);
  margin: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

header p,
header {text-align: center;
}

.description {
  margin-top: 0;
  font-style: italic;
  font-size: 1.25rem;
  text-align:center;
  

}

.input-group {
  margin-bottom: 1rem;

}
.input-group-name {
  display: flex;
}
.input-group-name, .input-group{
  flex: 1;
  gap: 20px;
}


.form-label,
p{
  display: block;
  text-align: left;
  margin-bottom: 0;
}

.form-label.radio {
  display: inline;
}
.input-checkbox{
display:block;
}

.input-text, .input-dropdown, #submit-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  border: none;
  height: 1.9rem;
  padding: 0.5rem;
  margin: 0.3rem 0 auto auto;

}
#input-textarea{
width:100%;
min-height:100px;
resize:vertical;
}

.container {
  width: 100%;
  margin: 0 auto;
  color: white;
  border-radius: 10.5rem;


}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
  
}

.chart-container{
  border: 1px solid rgba(255, 255, 255, 0.432);
  padding: 25px 0px;
  margin: 25px 0px;
  border-radius: 0.5rem;
}


.survey-container {
  background-color: rgba(27, 27, 50, 0.9);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

#btn-group{
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width:100%;
}

.radio-group {
  text-align: left;
}
.input-btn{
padding: 0.5rem 1rem;
border-radius: 0.2rem;
border:none;
margin: 0.2rem 0.2rem;
cursor:pointer;
background-color:transparent; 
color: white;
border: 0.5px solid white;
}
.input-btn:hover,.input-btn:focus{
color: #ff5b00;
box-shadow: 0 0.5em 0.5em -0.4em #ff5b00;
border-color: #ff5b00;
}

#submit-btn{
color:white;
background-color:green;
opacity: 0.5;
border-radius: 	0.5rem;
cursor:pointer;
width:50%;
margin: 0 auto;
}
#submit-btn:hover{
  opacity: 1;
}
h1{
  color: white;
}

.row{
  display:flex;
}
.column{
  flex:50%;
  display:flex;
  flex-direction: column;
}
/* .coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: yellow;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
  
.coolBeans::after{
    background-color: yellow;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
} 
.coolBeans:hover::after{
    transform: translate(0, 0);
}
    
.coolBeans:hover{
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1.05);
    will-change: transform;
  } */
